body {
	background-color: #fff100;
}
.container {
	width: 1400px;
	height:100%;
	margin: 0 auto;
}
.header {
	width: 1400px;
	margin-top:20px;
	text-align: center;
	font-family: 'Oleo Script', cursive;
}
p1 {
	font-size: 45px;
}
p2 {
	font-size: 25px;

}
.left {
	width: 560px;
	height:560px;
	margin:40px;
	margin-left: 100px;
	margin-top:100px;
	display: inline-block;
	background-image: url(left.gif);
	background-size: contain;
	background-repeat: no-repeat;
	float:left;
}
.right {
	width: 560px;
	height:560px;
	margin:40px;
	margin-right: 100px;
	margin-top:100px;
	display: inline-block;
	background-image: url(right.gif);
	background-size: contain;
	background-repeat: no-repeat;
	float:right;
}